body {
	background-image: url(../img/fond.png);
	background-attachment: fixed;
	background-size: cover;

}

.title {
	text-align: center;
	font-family: 'Baloo Bhai', cursive;
	font-size: 180px;
}
.search_city {
	text-align: center;
	margin-top: 5%;
}
.form-control {
	font-size: 25px;
	height: 80px;
}
.btn{
	height: 80px;
	font-size: 40px;
	width: 100px;
	border-radius: 0 20px 20px 0;
	
}
.form-control {
	height: 80px;
	font-size: 40px;
	border-radius: 20px 0 0 20px;
	
}
.copyright {
	margin-top: 125px;
	margin-left: 46%;
}
iframe {
	height: 350;
	width: 700;
	margin-top: 60px;
	margin-left: 33%;
	
}
.pluie {
	margin-top: -305px;
}
.image {
	background-color: white;
}


